/**index.wxss**/
.item+.item {
  /* border-top: 1px solid #ccc; */
}

.item, .item > view {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
}
.item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}
/* .wrap {
  height: 100% !important;
} */
/* .wx-recycle-item {
  width: 100%;
} */